.mat-custom{
    font-size: 200px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
    color: blue;
}
.box {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://wallpaperaccess.com/full/9336992.gif");
  text-align: center;
}

.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}
.child-box{
    margin-top: 200px;
}
 @keyframes progress {
            0% { width: 0%; }
            100% { width: 100%; }
        }
        @keyframes rotate {
            0% { stroke-dashoffset: 251.2; }
            100% { stroke-dashoffset: 0; }
        }
        @keyframes pulse {
            0%, 100% { opacity: 1; }
            50% { opacity: 0.3; }
        }
